html
  head
    title Mug AR Personalisation
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    link(rel='apple-touch-icon', sizes='57x57', href='images/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='images/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='images/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='images/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='images/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='images/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='images/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='images/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='images/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='images/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='images/favicon-16x16.png')
    link(rel='manifest', href='images/manifest.json')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='images/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    script(src='https://hammerjs.github.io/dist/hammer.js')
    script(src='https://aframe.io/releases/0.6.0/aframe.min.js')
    script(src='https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')
    script(src="https://code.jquery.com/jquery-3.4.0.min.js", integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=", crossorigin="anonymous")
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')
    script.
      THREEx.ArToolkitContext.baseURL = 'https://rawgit.com/jeromeetienne/ar.js/master/three.js/';
    script(src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js')
    script(src='js/cookies.js')
    script(src='js/Mainmenu.js')
    script(src='js/errorMessages.js')
    script(src='js/jscolor.js')
    script(src='js/croppie.js')
    link(rel='stylesheet', type='text/css', href='css/croppie.css')
    if presets != underfiend
      script.
        var presetLink = JSON.parse('!{JSON.stringify(presetLink)}');
  body
    a-scene(id="aFrameScene" start='', embedded='', arjs='')
      a-assets
        a-asset-item#mug-mtl(src='3Dmodels/mug/coffeMug1_free_obj.mtl')
        a-asset-item#mug-obj(src='3Dmodels/mug/coffeMug1_free_obj.obj')
        a-asset-item#cushion-obj(src='3Dmodels/cushion/pillow.obj')
        a-asset-item#cushion-mtl(src='3Dmodels/cushion/pillow.mtl')
        canvas#canvas
      a-marker(preset='hiro')
        a-obj-model(scale=scale, src=model, rotation=rotation, material="src: #canvas")
          //- <a-animation attribute="rotation" dur="9000" to="0 360 0" repeat="indefinite" easing="linear"></a-animation>
      a-camera-static
    //- #overlay
    //-   #logo
    //-     img(src='images/logo.png')
    //-   p.btn#personaliseNow Show Personalise Menu
    //-   form#personaliseForm(action='/personaliseForm', method='POST', enctype="multipart/form-data")
    //-     #canvasPreset(style='display: none;')
    //-       p Personal Presets:
    //-         select#canvasPresets(style="display:block", name="canvasPresets")
    //-           if presets != underfiend
    //-             each preset in presets
    //-               option=preset
    //-     p= modelName
    //-     input#mugJscolor.jscolor(class="{valueElement:mugJscolor, width:243, height:150, position:'top', left:'10px', borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#38aa82'}", name="modelColour")
    //-     p Image upload
    //-     input#image(type='file', name='image', required)
    //-     input#personaliseTxt(placeholder="Personalised Text", type='text', name="personalText", required)
    //-     p Text Colour:
    //-     input#textJscolor.jscolor(class="{valueElement:textJscolor, width:243, height:150, position:'bottom', borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#19171c'}", name="textColour")
    //-     p Font Size:
    //-     select#fontSize(name="fontSize")
    //-       option.fontSize(value='14') 14
    //-       option(value='16') 16
    //-       option(value='18') 18
    //-       option(value='30') 30
    //-     input#nameOfDesign(placeholder="Name of Design", name="nameOfDesign", required)
    //-     button.btn#saveDesign(style='display: none;', type="submit") Save Design
    #overlayToggle
      i(class="fas fa-chevron-left")
    #overlay2
      #iconBar
        .icon#modelColour
          i(class="fas fa-fill-drip")
          p= modelName
        .icon#imageUpload
          i(class="fas fa-images")
          p Image Upload
        .icon#personalText
          i(class="fas fa-font")
          p Personal Text
        .icon#saveDesign
          i(class="fas fa-save")
          p Save Design
        .icon#loadDesign
          i(class="fas fa-sync-alt")
          p Load Design 
    form#personaliseForm(action='/personaliseForm', method='POST', enctype="multipart/form-data")
      input#image(type='file', name='image', required)
      #presetMenu
        #canvasPreset(style='display: none;')
          p Personal Presets:
            select#canvasPresets(style="display:block", name="canvasPresets")
              if presets != underfiend
                each preset in presets
                  option=preset
      #modelColourMenu
        p Choose a colour:
        input#mugJscolor.jscolor(class="{valueElement:mugJscolor, width:243, height:150, position:'top', left:'10px', borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#38aa82'}", name="modelColour")
      #personalTextMenu
        p Personalised Text:
        input#personaliseTxt(type='text', name="personalText", required)
        p Text Colour:
        input#textJscolor.jscolor(class="{valueElement:textJscolor, width:243, height:150, position:'top', left:'10px', borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#38aa82'}", name="textColour")
        p Font Size:
        select#fontSize(name="fontSize", placeholder="Font Size")
          option(value='14') 14
          option(value='16') 16
          option(value='18') 18
          option(value='30') 30
      #imageMenu
        img#imageCropper
        button#imageCropBtn Crop Image
        button#imageCropBtn2 test Image
      #saveDesignMenu
        p Name the Design
        input#nameOfDesign(name="nameOfDesign", required)
        button#saveDesign(type="submit") Save Design
script(src='js/accountForm.js')
script(src='js/errorMessages.js')
script(src='js/personalisation.js')
script(src='js/overlay.js')
script(src='js/personalPresets.js')

